<h1>Subject #<%= @subject.id %></h1>

<p>
  <b>Name:</b>
  <%= @subject.name %>
</p>

<h2>Teachers concentrated in this subject:</h2>

<ul>
  <% @subject.teachers.each do |teacher| %>
    <ul><%= teacher.full_name %></ul>
  <% end %>
</ul>
